body {
  background: #f0f2f5;
  font-family: sans-serif;
}

.card {
  width: 350px;
  background: white;
  margin: 50px auto;
  padding: 20px;
  border-radius: 10px;
}

.moods button {
  font-size: 24px;
  margin: 5px;
}

textarea {
  width: 100%;
  height: 60px;
  margin-top: 10px;
}

